.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  animation: fade-bg 0.2s linear forwards;


  &_dialog {
    padding: 10px 25px 20px;
    margin: 0 auto;
    position: relative;
    background-color: var(--color-white, #ffffff);
    min-width: 400px;
    min-height: 200px;
    max-width: 95%;
    max-height: 85%;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    animation: showed 0.2s linear forwards;
  }

  &_exit {
    height: fit-content;
    margin-left: 10px;
  }

  &_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &_content { 
    flex: 1;
  }
}

.Actions {
  margin-top: 20px;

  & > *:not(:last-child) {
    margin-right: 10px;
  }
}


@keyframes fade-bg {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--color-opacity-black, rgba(0,0,0,0.3));
  }
}

@keyframes showed {
  0% {
    top: -100%;
  }
  70% {
    top: 25%;
  }
  100% {
    top: 7%;
  }
}